body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    margin: auto;
    width:1200px;
    height:700px;
}

#left_panel {
    display: block;
    float: left;
    width: 30%;
    height: 140%;
    background-color: white;
    padding: 15px;
    text-decoration:none;
}

#content {
    display: block;
    float: left;
    width: 70%;
    height: 140%;
    background-color: #f2f2f2;
    padding: 30px;
}

#lp_image {
    margin: auto;
    width: 200px;
}
.lp_img {
    margin: auto;
    width: 200px;
    height: 300px;
}

.table_quick_info {
    margin: auto;
    margin-top: 20px;
    width: 270px;

}
.table_td {
    font-weight:bold;
}
.nav {
    color: #1f95cc;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.nav1 { 
    margin:auto;
    border-bottom: solid 2px #9c9c9c;
    width: 70%
}