@page
@model FirmaDeweloperskaWeb.Pages.UmowaModel
@{
    ViewData["Tittle"] = "Umowa";
}

<div>
    @if (Model.umowy.Count() != 0)
    {
        @foreach (Umowy umowa in Model.umowy)
        {
            <form class="needs-validation" novalidate asp-page-handler="Edit" method="POST" style="width:40%;margin:auto;margin-top:40px;">

                <div>
                    <label for="validationCustom01" class="form-label">Numer Umowy:</label>
                    <input type="text" class="form-control" id="formNumer" name="formNumer" value="@umowa.UmowaId" disabled>
                </div>
                <div>
                    <label for="validationCustom02" class="form-label">Kwota:</label>
                    <input type="number" class="form-control" id="formKwota" name="formKwota" value="@umowa.UmowaPensja">
                    <div class="invalid-feedback">
                        Niepoprawny zarobek
                    </div>
                </div>
                <div>
                    <label for="validationCustom03" class="form-label">Zatrudniony Od:</label>
                    <input class="form-control" id="formOd" name="formOd" value="@umowa.UmowaOdKiedy">
                    <div class="invalid-feedback">
                        Niepoprawna data
                    </div>
                </div>
                <div>
                    <label for="validationCustom04" class="form-label">Zatrudniony Do:</label>
                    <input class="form-control" id="formDo" name="formDo" value="@umowa.UmowaDoKiedy">
                    <div class="invalid-feedback">
                        Niepoprawna data
                    </div>
                </div>
                <div>
                    <br />
                    <centeR><button class="btn btn-primary" type="submit">Modyfikuj Umowę</button></centeR>
                </div>
            </form>
        }
    }
    else
    {
        <form class="needs-validation" novalidate asp-page-handler="Add" method="POST" style="width:40%;margin:auto;margin-top:40px;">

            <div>
                <label for="validationCustom01" class="form-label">Numer Umowy:</label>
                <input type="text" class="form-control" id="formNumer" name="formNumer" placeholder="auto" disabled>
            </div>
            <div>
                <label for="validationCustom02" class="form-label">Kwota:</label>
                <input type="number" class="form-control" id="formKwota" name="formKwota" value="234411,00">
                <div class="invalid-feedback">
                    Niepoprawny zarobek
                </div>
            </div>
            <div>
                <label for="validationCustom03" class="form-label">Zatrudniony Od:</label>
                <input class="form-control" id="formOd" name="formOd" value="11/9/2020 7:12:04 PM">
                <div class="invalid-feedback">
                    Niepoprawna data
                </div>
            </div>
            <div>
                <label for="validationCustom04" class="form-label">Zatrudniony Do:</label>
                <input class="form-control" id="formDo" name="formDo" value="11/9/2020 7:12:04 PM">
                <div class="invalid-feedback">
                    Niepoprawna data
                </div>
            </div>
            <div>
                <br />
                <centeR><button class="btn btn-primary" type="submit">Dodaj Umowę</button></centeR>
            </div>
        </form>
    }
</div>