@page
@model FirmaDeweloperskaWeb.Pages.ZespolyDodajModel
@{
    ViewData["Tittle"] = "Dodaj zespoły!";
}

<div style="width:50%;margin:auto;margin-top:40px;">
    <form class="needs-validation" novalidate asp-page-handler="Add" method="POST">
        <div>
            <label for="validationCustom01" class="form-label">Nazwa Zespołu</label>
            <input type="text" class="form-control" id="formImie" name="formNazwa" required>
            <div class="invalid-feedback">
                Nazwa zespołu jest wymagana!
            </div>
        </div>
        <centeR><button class="btn btn-primary" type="submit">Dodaj Zespół!</button></centeR>

    </form>
</div>